global:
  storageClass: "hcloud_volumes"
nameOverride: "hive-cache"
fullnameOverride: "hive-cache"
master:
  persistence:
    enabled: true
    storageClass: "hcloud-volumes"
    accessModes:
      - ReadWriteOnce
    size: 10Gi
replica:
  persistence:
    enabled: true
    storageClass: "hcloud-volumes"
    accessModes:
      - ReadWriteOnce
    size: 10Gi
volumePermissions:
  enabled: true
sysctl:
  enabled: true
### Place those values in Vault
# auth:
#   password: ""
